* {

    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    ;
}

html {

    scroll-behavior: smooth;
}

body {

    background-color: black;
    color: rgb(237, 242, 240);
}


#header {

    width: 100%;
    height: 100vh;
    background-image: url(images/background2.jpeg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;



}

.container {



    padding-left: 10%;
    padding-right: 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;



}

h2 span {

    color: #ff004f;
}


.logo {
    width: 100px height;
}

nav ul li {

    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

nav ul li a {

    color: rgb(239, 245, 245);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    position: relative;

}

nav ul li a::after {


    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.75s;

}

nav ul li a:hover::after {
    width: 100%;

}

.headtext {

    margin-top: 20px;
    font-size: 30px;

}

.headtext h1 {
    font-size: 40px;
    margin-top: 20px;

}

.headtext h1 span {
    color: #ff004f
}

#about {

    padding-top: 70px;
    padding-bottom: 70px;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about-col-1 {

    flex-basis: 35%;
}

.about-col-1 img {

    width: 100%;
    border-radius: 15px;

}



.about-col-2 {

    flex-basis: 60%;
}

.sub {

    font-size: 60px;
    font-weight: 600;
    color: azure;
}

.tab-titles {

    display: flex;
    margin: 20px 0 40px;

}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;


}

.tab-links.active-link::after {

    width: 50%;
}




.tab-contents ul li {

    list-style: none;
    margin: 10px 0;
}

#Experience ul li span {
    color: #ff004f;
    font-size: 18px;

}

#Experience ul li {

    font-size: 14px;
}

.tab-contents {
    display: none;
}

#Education ul li span {
    color: #00fbff;
    font-size: 18px;

}

#Education ul li {

    font-size: 14px;
}

.tab-contents#Education {
    /* Pushes the Education content to the right to align under its tab */
    margin-left: 130px; 
}



.tab-contents.active-content {

    display: block;

}


/* --------------------skills css--------------- */




#my-skills {

    padding: 30px 0;
}

.skills-list {


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skills-list div {

    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: 0.5s, transform 0.5s;
}

.skills-list div i {
    font-size: 50px;
    margin-bottom: 30px;

}

.skills-list div h2 {

    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px
}

.skills-list div:hover {
    background: #ff004f;
    transform: translateY(10px);



}

/* ---------------------------------------work css--------------- */

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.work {

    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {

    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}


.layer {

    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), #ff004f);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;



}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: aliceblue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center
}

.work:hover img {

    transform: scale(1.2);

}

.work:hover .layer {

    height: 100%;
}

/* ----------------------------------contact me----------------- */


.contact-left {}

.contact-right {

    flex-basis: 60%;

}

.contact-left p {

    margin-top: 30px;

}

.contact-left p i {

    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;


}

.social-icons {}


.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;

}

.social-icons a:hover {

    color: #ff004f;
    transform: translateY(-5px);



}




/*----------------responsive----------- */



nav .fas{
    display: none;
}


@media only screen and (max-width: 600px) {
    #header{
        background-image: url(images/background2.jpeg);
        background-size: contain;
        background-position: center;
    }
    .headtext {
        margin-top: 100%;
        font-size: 16px;
    }
    .headtext h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }

}